.grid {
    border: 1px solid #000;
    height:180px;
    width:180px;
    display:flex;
    flex-wrap:wrap;
}

.grid div {
    height:calc(180px / 9);
    width: calc(180px / 9);
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color:blue;
}

.log-left, 
.log-right {
    background-color: lightblue;
}

.car-left, .car-right {
    background-color: lightgrey;
}

.frog {
    background-color: green;
}